
<!--NAV-->
<header>
  <section>
    <nav>

      <ul class="nav navbar navbar-dark  fixed">
        <li class="nav-item">
          <a class="nav-link active" href="javascript:saltarA('#descripción')">¿Por qué yo?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:saltarA('#proyectos')">Mis proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:saltarA('#contacto')">Contacto</a>
        </li>

      </ul>
    </nav>
  </section>
</header>

<!--FIN NAV -->

<!--portada-->
<div class="fondo">
  <h1 class="letras">Este es mi
    <br> portfolio personal.
    <br> puedes comenzar
    <br> viendo mis proyectos
    <br>
  </h1>
  <p class="lead">
    <a class="btn btn-primary btn-lg boton text-center" href="#" role="button">aquí</a>
  </p>
</div>
<!--FIN portada-->

<!-- -->
<div class="card text-center" id="descripción">
  <div class="card-header">

  </div>
  <div class="card-body">


    <p class="card-text">Hay que aprender para SABER MÁS y para mí esto convierte a alguien en mejor persona y profesional.
      <br> Por ello, me considero una persona ambiciosa en lo que hago:
      <br> DISEÑO WEB, DISEÑO GRÁFICO, FOTOGRAFÍA, EDICIÓN DE VÍDEO Y GRABACIÓN. </p>
      <h2>By {{author.name}}</h2>
    <a href="javascript:saltarA('#proyectos')" class="btn btn-primary">Ir a proyectos</a>
  </div>
  <div class="card-footer text-muted">

  </div>



</div>
<!-- -->


<!-- Slider -->
<div id="carouselExampleSlidesOnly" class="carousel slide corte" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/images/1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="http://www.hdfondos.eu/pictures/2014/1022/1/orig_58032.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="http://eskipaper.com/images/mystic-river-scenery-1.jpg" alt="Third slide">
    </div>
  </div>
</div>

<!-- FIN slider -->

<!--galeria de proyectos -->
<h3 id="proyectos" class="alert alert-secondary text-center" role="alert">
  Mis proyectos
</h3>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">Todos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">web</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">fotografía</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">diseño</a>
  </li>
</ul>

<div>
{{#each projects }}
  <p>{{ name }}</p>
  <p>{{ title }}</p>
  {{ #each this.images }}
  <img src="{{ this }}" />
  {{/each }}
{{/each}}
</div>

<div class="card-columns">
  <div class="card">
    <img class="card-img-top" src="https://websystemperu.com/web/121728f/web-pyme.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little
        bit longer.</p>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in
          <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://websystemperu.com/web/121728f/web-pyme.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text">
        <small class="text-muted">Last updated 3 mins ago</small>
      </p>
    </div>
  </div>
  <div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
      <footer class="blockquote-footer">
        <small>
          Someone famous in
          <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text">
        <small class="text-muted">Last updated 3 mins ago</small>
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img" src="https://websystemperu.com/web/121728f/web-pyme.jpg" alt="Card image">
  </div>
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in
          <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer
        content than the first to show that equal height action.</p>
      <p class="card-text">
        <small class="text-muted">Last updated 3 mins ago</small>
      </p>
    </div>
  </div>
</div>

<!--FIN galeria de proyectos -->

<!-- Slider -->
<div id="carouselExampleSlidesOnly corte" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="http://img263.imageshack.us/img263/3426/wallpaperhd3008.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="http://www.hdfondos.eu/pictures/2014/1022/1/orig_58032.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="http://eskipaper.com/images/mystic-river-scenery-1.jpg" alt="Third slide">
    </div>
  </div>
</div>

<!-- FIN slider -->


<!--footer -->
<div class="alert alert-dark text-center" role="alert" id="contacto">

  <a href="#" class="alert-link">jebasa1820@hotmail.es</a>
  <i class="far fa-copyright"></i> Todos los derechos reservados
  <a>
    <i class="fab fa-facebook-square"></i>
  </a>
  <a>
    <i class="fab fa-linkedin"></i>
  </a>
  <a>
    <i class="fab fa-github-square"></i>
  </a>

</div>

<!-- FIN footer -->




<style>
  header {
    background: white;
    margin-left: 890px;
    position: fixed;
    z-index: 100;

  }

  section {}


  nav ul li:hover {
    background: #6171fc;
  }


  .fondo {
    background-image: url('http://img263.imageshack.us/img263/3426/wallpaperhd3008.jpg');
    opacity: 0.6
  }

  .letras {

    color: white;
    margin-left: 70px;
    padding-top: 20px;


  }

  .boton {
    margin-left: 70px;
    margin-bottom: 30px;

  }
</style>


<script>
  function saltarA(id, tiempo) {
    var tiempo = tiempo || 1000;
    $("html, body").animate({ scrollTop: $(id).offset().top }, tiempo);
  }


  var context = {
  title: "My First Blog Post!",
  author: {
    id: 47,
    name: "Yehuda Katz"
  },
  body: "My first post. Wheeeee!"
};

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>